{% extends 'base.html.twig' %}

{% block title %}Classement - {% if league == 'lfb' %}POULE A{% else %}POULE B{% endif %}{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <h1 class="text-center mb-4">Classement - {% if league == 'lfb' %}POULE A{% else %}POULE B{% endif %}</h1>

        <div class="table-responsive"> <!-- Ajout de table-responsive pour mobile-first -->
            <table class="table table-striped table-bordered"> <!-- Utilisation des classes Bootstrap -->
                <thead class="thead-dark"> <!-- Classe Bootstrap pour un en-tête sombre -->
                    <tr>
                        <th scope="col">Rang</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Points</th> <!-- Enlèvement de {{ league|upper }} pour que seuls les points s'affichent -->
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>
                                {% if league == 'lfb' %}
                                    {{ user.ptlLfb }}
                                {% else %}
                                    {{ user.ptLf2 }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
