{% extends 'base.html.twig' %}

{% block body %}
   
    {% if hasData %}
        <h2>
            Classement pour la semaine 
            {% if league == 'lfb' %}
                {{ week.id }} dans la Poule A
            {% else %}
                {{ week.id - 22 }} dans la Poule B
            {% endif %}
        </h2>

        <table>
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Utilisateur</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td>
                            {% if league == 'lfb' %}
                                {{ user.ptlLfb }}
                            {% else %}
                                {{ user.ptLf2 }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun match n'a encore été joué pour la ligue {{ league }}.</p>
    {% endif %}
{% endblock %}
