{% extends 'base.html.twig' %}

{% block body %}
    <h1>Week {{ league }} Ranking</h1>

    {% if hasData %}
        <h2>Week {{ week.id }} Ranking for League {{ league }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No matches played yet for the league {{ league }}.</p>
    {% endif %}
{% endblock %}
